/* 전체 화면 가운데 정렬 */
body {
  width: 1104px;
  margin: auto;
  padding: 0;
  background: #222;
  display: block;
}


/* 게임 영역 */
#game-area {
  display: none;            /* 처음엔 숨김 */
  position: relative;      /* 자식 absolute 기준 */
  width: 1024px;
  height: 768px;
  background: #111;
  border: 2px solid #fff;
  overflow: hidden;
}

/* 캔버스: 투명 위판 */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 1024px;
  height: 768px;
  z-index: 2;
  display: none;
}

/* 실습 태그가 로딩되는 배경 영역 */
#labArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  z-index: 1;
  overflow: auto;
  background: white;
}

/* 일시정지 / 재시작 버튼 */
#game-buttons {
  display: none;
  margin-top: 20px;
  text-align: center;
}

#game-buttons button {
  font-size: 16px;
  padding: 8px 16px;
  margin: 5px;
}

/* 다시 시작 버튼 */
/*#restartBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  padding: 8px 16px;
  font-size: 16px;
}*/

/* 메인 메뉴, 난이도 선택 */
.menu-page {
  text-align: center;
  background-color: white;
  padding: 40px;
  width: 1024px;
  height: 768px;

  display: none;
}

#intro-page {
  display: block;
}

#bs-div {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;

}

.bs-label {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #ccc;
  user-select: none;
}

.bs-label.selected {
  background-color: aqua;
  font-weight: bold;
}

.bs-radio {
  display: none;
}

.pop-up-massage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  font-size: 60px;
  text-align: center;
  line-height: 620px;
  color: white;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
  z-index: 3;
  display: none;
}

.pop-up-massage {
  animation-name: game-over;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#game-over-massage {
  font-family: "Pixelify Sans", serif;
  font-size: 120px;
}

#game-over-subtitle {
  font-family: sans-serif;
  font-size: 40px;
  top: 90px;
}

#pause-panel {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid black;
  width: 680px;
  height: 480px;
  z-index: 4;
  display: none;
}
#pause-panel * {
  z-index: 5;
}

@keyframes game-over {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.0);
  }
}

h1 {
  font-size: 80px;
  margin-bottom: 40px;
}

button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 15px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}



