/*반응형 구현 위한 html 태그 내부 픽셀*/
html{
  /*js 내부에서 font-size를 현재 console-width와 height 따라 변형. */
  /*window width, height 1521x799 기준 16px*/
  font-size:100%;

 }

/*전체 body 속성 */
body {
  width: 65vw;
  height: 100vh;
  background: #222;
  display: block;
  margin: 0 auto;
}

#clear-panel{
  width:100%;
  height:100%;
  background-color: white;
  
}


 /*－－－－－－－*/ }
